<app-header></app-header>
<ion-content [fullscreen]="true" appGestures (swipe)="onSwipe($event)">
  <ion-item *ngFor="let contact of contacts" (click)="openMessage(contact)">
    <ion-avatar slot="start">
      <img [src]="contact.profilePic">
    </ion-avatar>
    <ion-label>
      <h2>
        {{contact.username}} 
      </h2>
      <p>{{contact.recentMessage}}</p>
    </ion-label>
    <div class="ion-text-end">
      <ion-label>
        <p>
          {{contact.timeStamp}}
        </p>
        <ion-badge color="danger" slot="end">2</ion-badge>
      </ion-label>
    </div>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newMessage()">
    <ion-fab-button>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
