<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let message of userMessages">
    <ion-card-content>
      {{message.message}}
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-fab-button class="custom-fab">
      <ion-icon name="attach-outline"></ion-icon>
    </ion-fab-button>
    <ion-textarea class="custom-text" rows="1"></ion-textarea>
    <ion-fab-button class="custom-fab">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
</ion-footer>
